<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-card class="ion-padding">
      <ion-card-header>
        <p>Login</p>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-item lines="none">
              <ion-input
                placeholder="please enter your username or email"
                formControlName="username"
                required
                [errorText]="getErrorText('username')"
                ><ion-icon
                  name="person"
                  slot="start"
                  aria-hidden="true"
                ></ion-icon>
              </ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item lines="none">
              <ion-input
                type="{{ hidePassword ? 'password' : 'text' }}"
                placeholder="please enter your password"
                formControlName="password"
                required
                [errorText]="getErrorText('password')"
                ><ion-icon
                  name="lock-closed"
                  slot="start"
                  aria-hidden="true"
                ></ion-icon>
                <ion-button
                  fill="clear"
                  slot="end"
                  aria-label="Show/hide"
                  color="dark"
                  (click)="togglePasswordVisibility()"
                >
                  <ion-icon
                    name="{{hidePassword ? 'eye' : 'eye-off'}}"
                    slot="icon-only"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-button>
              </ion-input>
            </ion-item>
          </ion-row>
          <ion-row class="action">
            <ion-checkbox labelPlacement="end">REMEMBER ME</ion-checkbox>
            <ion-button fill="clear">
              <ion-label>FORGET PASSWORD?</ion-label>
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button (click)="login()">Login</ion-button>
          </ion-row>

          <ion-row>
            <ion-button fill="clear" (click)="toRegister()">
              <ion-label>DON'T HAVE AN ACCOUNT YET?</ion-label>
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
