ion-row {
  &.header-row,
  &.data-row,
  &.empty-row {
    ion-col {
      text-align: left;
      padding: 8px; // Add padding for better visual appearance
    }
    ion-col.header-col {
      font-weight: bold;
      font-size: 16px; /* Adjust the font size as needed */
      user-select: none; // Disable text selection
    }
  }

  &.header-row {
    display: flex;
    justify-content: center;

    ion-col {
      background-color: #d3dfe7; // Header background color
      color: #02131e; // Header text color
    }
  }

  &.data-row {
    ion-col {
      user-select: none; // Disable text selection
      background-color: #d3dfe7; // Data row background color
    }
  }

  &.empty-row {
    ion-col {
      text-align: center;
      background-color: #e74c3c; // Empty row background color
      color: #ffffff; // Empty row text color
    }
  }
}

ion-row.data-row {
  ion-col.ion-col-data {
    background-color: #d3dfe7; // Data row background color
    user-select: none; // Disable text selection

    &:hover {
      // background-color: #34495e; /* Dark blue color on hover, adjust as needed */
      color: #67b5ff; /* Text color on hover, adjust as needed */
    }
  }
}


.search-bar-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .small-search-bar {
    flex: 1;
    max-width: 250px;
  }

  ion-button {
    margin-left: 5px;
  }

  @media (max-width: 600px) {
    // Adjust styles for screens smaller than 600px wide
    .small-search-bar {
      max-width: 100%; // Take up full width on smaller screens
    }
  }
}

.button-upload {
  // Your styling for the button goes here
  // For example:
  background-color: #007bff; // Your primary color
  color: #fff; // Text color
  padding: 10px; // Adjust padding as needed
  cursor: pointer; // Show pointer on hover
  border-radius: 4px; // Add rounded edges
}

.button-upload:hover {
  background-color: #0056b3; // Darker color on hover
}

