<ion-content>
  <ion-toolbar>
    <ion-item class="search-bar-button-container" lines="none">
      <ion-title class="bold-text">
        {{ getProjectName() }} Project Files @if (filteredFiles != undefined &&
        filteredFiles.length > 0) {
        <span class="file-count">+{{ filteredFiles.length }}</span>

        } @else {
        <!-- <span class="file-count">{{ filteredFiles.length }}</span> -->
        }
      </ion-title>
      <ion-searchbar
        [debounce]="100"
        (ionInput)="handleInput($event)"
        placeholder="Search"
        class="small-search-bar"
      ></ion-searchbar>
      <ion-button
        color="primary"
        size="Default"
        [routerLink]="'/files/filesManager'"
      >
        File Manager
      </ion-button>
    </ion-item>
  </ion-toolbar>

  <div class="file-list-item">
    @for (file of filteredFiles; track file) { @if
    ((file.metadata.projectId).toString() == this.getProjectID()) {
    <ion-card color="light" (click)="openFileInNewTab(file)">
      <ion-card-header class="center-content">
        <ion-img
          class="file-icon-img"
          [src]="getFileIcon(file.metadata.type)"
          alt="{{ file.metadata.type }} Icon"
        ></ion-img>
        <ion-card-title
          >{{ getOriginalName(file.metadata.title) }}</ion-card-title
        >
        <ion-card-subtitle
          >{{ getTimeAgo(file.metadata.lastModified) }}</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>

    } } @empty {
    <!-- <span>Empty list of users</span> -->
    }

    <ion-card-header
      class="drop-area"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
    >
      <ion-img
        class="upload-img"
        src="assets/icon/filesIcon/upload.png"
      ></ion-img>
      <ion-card-title>File upload</ion-card-title>
      <ion-card-subtitle>Drag & drop files here</ion-card-subtitle>
    </ion-card-header>
  </div>
</ion-content>
