ion-card {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  width: 1000px;
  transform: translate(-50%, -50%);
}

ion-card-header {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

ion-radio {
  color: black;
  font-size: 18px;
}

ion-checkbox {
  margin-right: 10px;
}

.first-col {
  div {
    color: black;
    font-size: 15px;
  }
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ccc; /* Gray background color */
  border-radius: 10px; /* Curved border */
  overflow: hidden; /* Hides the overflowing progress bar */

  .progress {
    width: 0%;
    height: 100%;
    background-color: #4caf50; /* Green progress color */
    border-radius: 10px; /* Curved border for the progress bar */
    transition: width 0.3s ease; /* Smooth width transition */
  }
}
