<ion-content>
  <ion-card class="ion-padding">
    <ion-card-header> PAYMENTS </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="first-col" size="4">
            <div>Current Status</div>
          </ion-col>
          <ion-col>
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="first-col" size="4">
            <div>Usage Character</div>
          </ion-col>
          <ion-col>
            <ion-radio-group value="precise">
              <ion-radio value="precise" labelPlacement="end"
                >Precise Usage</ion-radio
              >
              <br />
              <ion-radio value="normal" labelPlacement="end"
                >Normal Usage</ion-radio
              >
              <br />
              <ion-radio value="extreme" labelPlacement="end"
                >Extreme Usage</ion-radio
              >
            </ion-radio-group>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="first-col" size="4">
            <div>Budget Notes</div>
          </ion-col>
          <ion-col>
            <ion-input fill="outline" placeholder="Enter text"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="first-col" size="4">
            <div>Manage Budget</div>
          </ion-col>
          <ion-col> </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="first-col" size="4">
            <div>Overuse Notifications</div>
          </ion-col>
          <ion-col class="check-box">
            <ion-checkbox labelPlacement="end">Email</ion-checkbox>
            <ion-checkbox labelPlacement="end">Phone</ion-checkbox>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="first-col" size="4">
            <div>Allow Changes</div>
          </ion-col>
          <ion-col>
            <ion-toggle>Allowed</ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
