<ion-content>
  <ion-card class="ion-padding">
    <ion-card-header> PAYMENTS </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="first-col" size="4">
            <div>Current Status</div>
          </ion-col>
          <ion-col>
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </ion-col>
        </ion-row>

        <form [formGroup]="form">
          <ion-row>
            <ion-col class="first-col" size="4">
              <div>Usage Character</div>
            </ion-col>
            <ion-col>
              <ion-radio-group formControlName="input1">
                <ion-radio value="Precise" labelPlacement="end"
                  >Precise Usage</ion-radio
                >
                <br />
                <ion-radio value="Normal" labelPlacement="end"
                  >Normal Usage</ion-radio
                >
                <br />
                <ion-radio value="Extreme" labelPlacement="end"
                  >Extreme Usage</ion-radio
                >
              </ion-radio-group>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="first-col" size="4">
              <div>Budget Notes</div>
            </ion-col>
            <ion-col>
              <mat-form-field class="note-field">
                <textarea matInput formControlName="input2"></textarea>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="first-col" size="4">
              <div>Manage Budget</div>
            </ion-col>
            <ion-col>
              <div class="budget-input">
                <ion-button (click)="incBudget()">+</ion-button>
                <div class="custom-input">
                  <input formControlName="input3" [hidden]="isHidden" />
                  {{ form.value.input3 }}
                </div>

                <ion-button (click)="dcBudget()">-</ion-button>
              </div>
              <!-- <mat-form-field class="budget-field">
                <textarea matInput formControlName="input3"></textarea>
              </mat-form-field> -->
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="first-col" size="4">
              <div>Overuse Notifications</div>
            </ion-col>
            <ion-col class="check-box">
              <ion-checkbox labelPlacement="end" formControlName="input4"
                >Email</ion-checkbox
              >
              <ion-checkbox labelPlacement="end" formControlName="input5"
                >Phone</ion-checkbox
              >
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="first-col" size="4">
              <div>Allow Changes</div>
            </ion-col>
            <ion-col>
              <ion-toggle formControlName="input6">Allowed</ion-toggle>
            </ion-col>
          </ion-row>

          <ion-row class="last-row">
            <ion-button color="light" style="margin-right: 10px"
              >Discard</ion-button
            >
            <ion-button (click)="saveChanged()">Save Changes</ion-button>
          </ion-row>
        </form>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
