<ion-content [fullscreen]="true">
  <ion-card class="ion-padding header">
    <ion-card-header>
      <ion-img src=""></ion-img>
      <ion-card-title>
        Dashboard
        <ion-badge color="success">In Progress</ion-badge>
        <div class="text">Text</div>
      </ion-card-title>

      <div class="button">
        <ion-button color="light" size="default">test</ion-button>
        <ion-button size="default">test</ion-button>
        <ion-button color="light" size="default">test</ion-button>
      </div>
    </ion-card-header>

    <ion-card-content
      ><hr />
      <div class="text">TEXT</div></ion-card-content
    >
  </ion-card>
  <ion-card class="ion-padding body"></ion-card>
</ion-content>
