<ion-content>
  <ion-searchbar show-clear-button="focus"></ion-searchbar>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-header>
            <ion-card-title>Team Member</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-label>Item</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-col>

        <ion-col>
          <ion-card-header>
            <ion-card-title>Type</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-label>Item</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-col>

        <ion-col>
          <ion-card-header>
            <ion-card-title>Role</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-label>Item</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-col>

        <ion-col>
          <ion-card-header>
            <ion-card-title>Email</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-label>Item</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
