<ion-content>
  <div class="content">
    <div class="search">
      <ion-searchbar
        class="main-search"
        show-clear-button="focus"
        (input)="onMainSearch($event)"
        [(ngModel)]="mainSearchInput"
        (ionClear)="onClearMainSearch()"
        w
      ></ion-searchbar>
      <ion-button (click)="setOpen(true)">Add Member</ion-button>
    </div>

    <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Select team member to add</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true"
                >Confirm</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-searchbar
            show-clear-button="focus"
            (input)="onModalSearch($event)"
            [(ngModel)]="modalSearchInput"
            (ionClear)="onClearModalSearch()"
          ></ion-searchbar>
          <ion-list>
            <!-- Your search result items here -->
            @for (member of modalSearchResult; track member; let i = $index){
            <ion-item class="custom-ion-item">
              <div class="search-detail">
                <ion-checkbox
                  (ionChange)="checkboxChange($event, member, i)"
                  [(ngModel)]="checkboxList[i]"
                  labelPlacement="end"
                  >{{ member.name }}<br />{{ member.email }}</ion-checkbox
                >
              </div>
              <mat-form-field appearance="outline" class="custom-select">
                <mat-select
                  [(ngModel)]="selectedTypes[i]"
                  (selectionChange)="selectionChange(member, i)"
                >
                  @for (option of options; track option){
                  <mat-option [value]="option.value">{{
                    option.label
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </ion-item>

            }
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-title>Team Member</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                @for (data of mainSearchResult; track data){
                <ion-item>
                  <ion-label>{{ data.name }}</ion-label>
                </ion-item>
                }
              </ion-list>
            </ion-card-content>
          </ion-col>

          <ion-col>
            <ion-card-header>
              <ion-card-title>Type</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                @for (data of mainSearchResult; track data){
                <ion-item>
                  @for (project of data.projects; track project){ @if
                  (project.projectId === _ProjectId){
                  <ion-label>{{ project.type }}</ion-label>
                  } }
                </ion-item>
                }
              </ion-list>
            </ion-card-content>
          </ion-col>

          <ion-col>
            <ion-card-header>
              <ion-card-title>Role</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                @for (data of currentMember; track data){
                <ion-item>
                  <ion-label>{{ data.role }}</ion-label>
                </ion-item>
                }
              </ion-list>
            </ion-card-content>
          </ion-col>

          <ion-col>
            <ion-card-header>
              <ion-card-title>Email</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              @for (data of mainSearchResult; track data){
              <ion-item>
                <ion-label>{{ data.email }}</ion-label>
              </ion-item>
              }
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
